@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

:root {
  --main-color: #003f62;
  --some-buttons: #eda315;
  --some-buttons-hover: #ecbc64;
  --titles-letters: #1b5a7d;
  --lightblue: #87bbd9;
  --font-color: #e2f4ff;
}

html {
  box-sizing: border-box;
  font-size: 62, 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Raleway", sans-serif;
}
h1,h2,h3,h4,p,a, textarea,input,ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/*--------------------------------Header-----------------------------------------------------------------------------------------------------------*/
.header_container {
  background-color: #003f62;
  width: 100%;
  height: 6rem;
  /* margin-bottom: 2rem; */
}
.header_container,
.search_input_container,
.nav_container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  font-size: 1.5rem;
  margin-left: 3rem;
  text-align: center;
  color: var(--font-color);
}
.search_input_container {
  width: 30rem;
  height: 100%;
}
#search {
  width: 70%;
  padding: 0;
  margin: 0;
  height: 2.5rem;
  border-style: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 0.8rem;
}
#search:focus {
  outline: none;
  border: none;
}
.search_btn_container {
  width: 30%;
  padding: 0;
  margin-left: 0;
}
.search_btn {
  height: 2.5rem;
  background-color: var(--some-buttons);
  border-style: none;
  border-radius: 1rem;
  width: 90%;
  position: relative;
  left: -2rem;
}
.search_btn:hover {
  background-color: var(--some-buttons-hover);
}
.nav_container nav {
  height: 100%;
  margin-right: 3rem;
}
.nav_container nav ul {
  display: flex;
  gap: 4rem;
  color: var(--font-color);
}
.nav_container nav ul li a {
  display: flex;
  gap: 0.5rem;
  color: var(--font-color);
}
.nav_container nav ul li a:hover {
  color: var(--some-buttons-hover);
  transition: 0.2s all;
}
.number_of_products {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  background-color: #eda315;
  border-radius: 30%;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------wrapper/main/aside-----------------------------------------------------------------------------------------------*/
.wrapper {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: white;
}
aside {
  padding: 2rem;
  padding-right: 0;
  color: #003f62;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn_menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 4rem;
  background-color: transparent;
  border: 0;
  color: var(--main-color);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}
.btn_menu.active {
  background-color: var(--main-color);
  color: var(--font-color);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: 0.4s all;
  justify-content: center;
}

footer p {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1rem;
}
main {
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 2rem;
  padding-left: 0;
}
.principal_title {
  color: var(--main-color);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.products_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.product {
  border: 1px solid var(--lightblue);
  border-radius: 1rem;
}
.product_image {
  max-width: 100%;
  border-radius: 1rem;
}
.product_info_container {
  max-width: 100%;
  color: white;
  background-color: var(--main-color);
  padding: 0.5rem;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}
.product_name {
  font-size: 1rem;
  margin-top: 1rem;
}
.product_price{
  font-size: 1.5rem;
  margin: 1rem auto;
  font-weight: 400;
}
.add_product {
  max-width: 100%;
  height: 3rem;
  border: 0;
  background-color: var(--some-buttons);
  color: white;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 2px solid var(--main-color);
  transition: background-color 0.2s, color 0.2s;
}
.add_product:hover {
  background-color: var(--some-buttons-hover);
}